@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
